@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("../fonts/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Black';
  src: url("./fonts/ProximaNova-Black.eot");
  src: local("./fonts/Proxima Nova Black"), local("ProximaNova-Black"), url("./fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Black.woff") format("woff"), url("./fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("./fonts/ProximaNova-Bold.eot");
  src: local("./fonts/Proxima Nova Bold"), local("ProximaNova-Bold"), url("./fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Bold.woff") format("woff"), url("./fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contain {
  max-width: 1335px;
  width: 100%;
  margin: 0 auto;
}

.header-section {
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  width: 100%;
  position: relative;
}

.header {
  background: #ffffff;
  position: relative;
}

.header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 114px;
  width: 100%;
}

.header_navigation__img {
  width: 159.85px;
  height: 38.27px;
  margin-right: 239px;
}

.header_nav__link {
  text-decoration: none;
  font-family: 'Proxima Nova Regular';
  font-size: 15px;
  line-height: 18px;
  color: #FF8A00;
  margin-right: 56px;
  position: relative;
  padding-bottom: 8px;
}

.header_nav__link:nth-child(1) {
  font-weight: bold;
}

.header_nav__link:before {
  position: absolute;
  content: "";
  height: 3px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  width: 22px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100px;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header_nav__link:hover:before {
  display: block;
}

.header__backet {
  margin-right: 24px;
  position: relative;
}

.header__backet::after {
  content: '12';
  position: absolute;
  width: 14px;
  height: 14px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  color: #ffffff;
  font-family: 'Proxima Nova Regular';
  font-size: 8px;
  top: -15px;
  right: -12px;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
}

.header_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_buttons_btn {
  width: 160px;
  height: 56px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
          box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 100px;
  outline: none;
  border: none;
  color: #ffffff;
}

.header_buttons_contributor {
  margin-right: 10px;
}

.hero-section {
  position: relative;
  background: url("../img/hero_icon.png") no-repeat;
  background-position: 85% -10px;
  z-index: 10;
}

.hero-section .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 534px;
  width: 100%;
  height: 90vh;
}

.hero-section .hero__title {
  font-family: 'Proxima Nova Bold';
  font-weight: 700;
  font-size: 50px;
  line-height: 158.34%;
  color: #FFF7DF;
  text-shadow: 2px 0 #FFF7DF;
}

.hero-section .hero__description {
  font-family: 'Proxima Nova Regular';
  font-size: 18px;
  line-height: 33px;
  color: #FFF7DF;
  margin: 26px 0 19px 0;
  max-width: 446px;
  width: 100%;
}

.hero-section .hero__button {
  width: 160px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: #FFF7DF;
  border-radius: 100px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FF8A00;
}

.hero-section .hero__arrows {
  margin: 52px 0 103px 0;
}

.hero-section .hero__arrows_white {
  background: #FFF7DF;
  width: 31px;
  height: 31px;
  border-radius: 100%;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */