@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("../fonts/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Black';
  src: url("./fonts/ProximaNova-Black.eot");
  src: local("./fonts/Proxima Nova Black"), local("ProximaNova-Black"), url("./fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Black.woff") format("woff"), url("./fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("./fonts/ProximaNova-Bold.eot");
  src: local("./fonts/Proxima Nova Bold"), local("ProximaNova-Bold"), url("./fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Bold.woff") format("woff"), url("./fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Proxima Nova Regular';
}

.contain {
  max-width: 1335px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header-section {
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  width: 100%;
  position: relative;
}

.header {
  background: #ffffff;
  position: relative;
}

.header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 114px;
  width: 100%;
  z-index: 1;
}

.header_navigation__img {
  width: 159.85px;
  height: 38.27px;
  margin-right: 239px;
}

.header_nav__link {
  text-decoration: none;
  font-family: 'Proxima Nova Regular';
  font-size: 15px;
  line-height: 18px;
  color: #FF8A00;
  margin-right: 56px;
  position: relative;
  padding-bottom: 8px;
}

.header_nav__link:nth-child(1) {
  font-weight: bold;
}

.header_nav__link:before {
  position: absolute;
  content: "";
  height: 3px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  width: 22px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100px;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header_nav__link:hover:before {
  display: block;
}

.header__backet {
  margin-right: 24px;
  position: relative;
}

.header__backet::after {
  content: '12';
  position: absolute;
  width: 14px;
  height: 14px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  color: #ffffff;
  font-family: 'Proxima Nova Regular';
  font-size: 8px;
  top: -15px;
  right: -12px;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
}

.header_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_buttons_btn {
  width: 160px;
  height: 56px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
          box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 100px;
  outline: none;
  border: none;
  color: #ffffff;
}

.header_buttons_contributor {
  margin-right: 10px;
}

.hero-section {
  position: relative;
  z-index: 10;
}

.hero-section .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 534px;
  width: 100%;
  margin-top: 129px;
}

.hero-section .hero_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section .hero_background {
  z-index: 5;
  position: absolute;
  width: 436px;
  height: 382px;
  right: 10%;
  top: -10px;
}

.hero-section .hero__title {
  font-family: 'Proxima Nova Bold';
  font-weight: 700;
  font-size: 50px;
  line-height: 158.34%;
  color: #FFF7DF;
  text-shadow: 2px 0 #FFF7DF;
}

.hero-section .hero__description {
  font-family: 'Proxima Nova Regular';
  font-size: 18px;
  line-height: 33px;
  color: #FFF7DF;
  margin: 26px 0 19px 0;
  max-width: 446px;
  width: 100%;
}

.hero-section .hero__button {
  width: 160px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: #FFF7DF;
  border-radius: 100px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FF8A00;
}

.hero-section .hero__arrows {
  margin: 52px 0 103px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero__arrows_white {
  background: #FFF7DF;
  width: 31px;
  height: 31px;
  border-radius: 100%;
  position: absolute;
}

.hero-section .hero__arrows_white:hover {
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  padding: 20px;
}

.hero-section .hero__arrows_right {
  left: 46px;
}

.hero-section .hero__arrows_right::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #FF8A00;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-section .hero__arrows_right:hover::before {
  border-left: 8px solid #ffffff;
}

.hero-section .hero__arrows_left::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 8px solid #FF8A00;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-section .hero__arrows_left:hover::before {
  border-right: 8px solid #ffffff;
}

.about-section {
  background: #FFF7DF;
  position: relative;
}

.about {
  padding-top: 144px;
  padding-bottom: 128px;
  position: relative;
  width: 100%;
}

.about-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.about-advantage__item {
  width: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 75px;
  height: 199px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-advantage__img {
  position: relative;
  z-index: 5;
  width: 123px;
  height: 102px;
}

.about-advantage__img::before {
  content: '';
  position: absolute;
  width: 85px;
  height: 85px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  border-radius: 50%;
  z-index: -1;
  left: -20px;
  top: -7%;
}

.about-advantage__title {
  margin-top: 22px;
  margin-bottom: 10px;
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 0 #5C5C5C;
  line-height: 182.7%;
  color: #5C5C5C;
}

.about-advantage__description {
  color: #5C5C5C;
  font-family: 'Proxima Nova Regular';
  font-size: 14px;
  line-height: 17px;
}

.about_invocation {
  margin-top: 222px;
  max-width: 387px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about_invocation_block {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about_invocation_title {
  font-size: 40px;
  line-height: 158.34%;
  font-weight: normal;
  font-family: 'Proxima Nova Regular';
  color: #FF8A00;
  margin-bottom: 20px;
}

.about_invocation_title span {
  font-family: 'Proxima Nova Regular';
  font-weight: bold;
  text-shadow: 1px 0 #FF8A00;
}

.about_invocation_description {
  font-size: 14px;
  line-height: 175.78%;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: 'Proxima Nova Regular';
  color: #5C5C5C;
}

.about_invocation_bg {
  position: absolute;
  left: 0;
  margin-top: 120px;
  height: 640px;
  overflow: hidden;
}

.stories-section {
  width: 100%;
  background: url("../img/stories.png") no-repeat, linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  block-size: cover;
  position: relative;
}

.stories {
  padding-top: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stories_text {
  width: 450px;
  color: #ffffff;
  font-family: 'Proxima Nova Regular';
  margin-right: 61px;
}

.stories_text_title {
  font-size: 40px;
  line-height: 158.34%;
  text-shadow: 1px 0 0 #ffffff;
  margin-bottom: 40px;
}

.stories_text_description {
  font-size: 14px;
  line-height: 175.78%;
  width: 384px;
}

.stories__button {
  width: 160px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: #FFF7DF;
  border-radius: 100px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FF8A00;
  margin-top: 43px;
  margin-bottom: 226px;
}

.stories_img {
  position: relative;
  width: 100%;
  padding: 74px 0;
}

.stories_img_item {
  border-radius: 5px;
}

.stories_img_item img {
  position: relative;
  width: 100%;
  height: 100%;
}

.stories_img1 {
  width: 159px;
  height: 219px;
  background: #000000;
  position: absolute;
  top: 210px;
}

.stories_img2 {
  width: 283px;
  height: 264px;
  background: #000000;
  position: absolute;
  left: 178px;
  top: 60px;
}

.stories_img3 {
  width: 102px;
  height: 141px;
  background: #000000;
  position: absolute;
  top: 350px;
  left: 181px;
}

.stories_img4 {
  width: 281px;
  height: 220px;
  background: #000000;
  position: absolute;
  left: 490px;
  top: -50px;
}

.stories_img5 {
  width: 102px;
  height: 141px;
  background: #000000;
  position: absolute;
  left: 480px;
  top: 200px;
}

.stories_img6 {
  width: 204px;
  height: 280px;
  background: #000000;
  position: absolute;
  left: 600px;
  top: 210px;
}

.stories_img7 {
  width: 283px;
  height: 263px;
  background: #000000;
  position: absolute;
  left: 300px;
  top: 390px;
}

.courses-section {
  padding-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 62px;
}

.courses {
  width: 100%;
}

.courses_title {
  font-family: 'Proxima Nova Regular';
  color: #FF8A00;
  text-align: center;
  margin-bottom: 38px;
  text-shadow: 2px 0 0 #FF8A00;
  font-size: 40px;
  line-height: 158.34%;
}

.courses_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 702px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 55px;
}

.courses_nav_item {
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  font-family: 'Proxima Nova Regular';
  font-weight: normal;
  color: #5C5C5C;
  position: relative;
}

.courses_nav_item:before {
  position: absolute;
  content: "";
  height: 3px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  width: 12px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100px;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.courses_nav_item:hover:before {
  display: block;
}

.courses_btn {
  margin: 41px auto;
}

.courses_contain {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1240px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.courses_contain_item {
  position: relative;
  width: 303px;
  height: 279px;
  border-radius: 10px;
  display: block;
  background: #C4C4C4;
  overflow: hidden;
  margin-bottom: 15px;
}

.courses_contain_item_label {
  width: 80px;
  height: 43px;
  position: absolute;
  right: -10px;
  top: -10px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  color: #ffffff;
  font-size: 14px;
  line-height: 152.34%;
  padding: 15px 25px;
  border-radius: 10px;
  font-family: 'Proxima Nova Regular';
}

.courses_contain_item_premium {
  width: 98px;
  height: 43px;
  position: absolute;
  right: -10px;
  top: -10px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  color: #ffffff;
  font-size: 14px;
  line-height: 152.34%;
  padding: 15px 20px;
  border-radius: 10px;
  font-family: 'Proxima Nova Regular';
}

.courses_contain_item_block {
  height: 73px;
  width: 303px;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  bottom: 0;
  position: absolute;
  padding: 13px 30px;
  font-size: 14px;
  line-height: 152.34%;
  color: #ffffff;
  font-family: 'Proxima Nova Regular';
}

.achievement-section {
  position: relative;
  background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
  width: 100%;
}

.achievement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 63px 0 57px 0;
  position: relative;
}

.achievement_item {
  max-width: 237px;
  width: 100%;
  text-align: center;
  color: #FFF7DF;
}

.achievement_item_img {
  position: relative;
  z-index: 5;
}

.achievement_item_img:before {
  content: '';
  position: absolute;
  width: 85px;
  height: 85px;
  background: #FF8A00;
  border-radius: 50%;
  z-index: -1;
  left: -35px;
  bottom: 10px;
  -webkit-box-shadow: 1px 1px 4px 0 #ffffff;
          box-shadow: 1px 1px 4px 0 #ffffff;
}

.achievement_item_title {
  margin: 26px 0 10px 0;
}

.reviews-section {
  width: 100%;
  padding-top: 96px;
}

.reviews_title {
  text-align: center;
  font-weight: bold;
  color: #FF8A00;
  text-shadow: 2px 0 0 #FF8A00;
  font-size: 40px;
  margin-bottom: 38px;
}

.reviews_description {
  max-width: 585px;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 175.78%;
  color: #5C5C5C;
  text-align: center;
  margin-bottom: 66px;
}

.reviews_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 97px;
  overflow: hidden;
}

.reviews_item_list {
  width: 373px;
  height: 343px;
  padding: 40px;
  border-radius: 5px;
  color: #5C5C5C;
  opacity: 0.5;
}

.reviews_item_list:hover {
  -webkit-box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
          box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  opacity: 1;
}

.reviews_item_list_text {
  position: relative;
  font-size: 14px;
  line-height: 175.78%;
  margin-top: 50px;
  width: 284px;
}

.reviews_item_list_text:after {
  position: absolute;
  content: "“";
  top: -20px;
  font-size: 100px;
  font-weight: bold;
  left: -5px;
}

.reviews_item_list_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}

.reviews_item_list_img {
  position: relative;
  width: 59px;
  height: 57px;
  border-radius: 50%;
  background: #D8D8D8;
  margin-right: 11px;
}

.reviews_item_list_title {
  font-size: 16px;
  line-height: 105.47%;
  font-weight: bold;
}

.reviews_item_list_description {
  font-size: 12px;
  line-height: 105.47%;
  font-weight: normal;
  margin-top: 4px;
}
/*# sourceMappingURL=style.css.map */